body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center; /* Center-align text and images globally */
}

header {
    background-color: #3498db;
    color: white;
    padding: 1em 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.shayari {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: inline-block; /* Make shayari sections inline-block to center-align */
    text-align: center; /* Center-align text and images within shayari sections */
}

.shayari img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto 0; /* Center-align image with margin at the top */
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}
